@import "tailwindcss";

@theme {
  --color-primary-500: #2563eb;
  --color-primary-600: #1d4ed8;
  --color-success-500: #16a34a;
  --color-success-600: #15803d;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-danger-500: #dc2626;
  --color-danger-600: #b91c1c;
}
